<!DOCTYPE html>
<html lang="en" style="height: 100%; margin: 0;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Insurance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Insurance.styles.css" asp-append-version="true" />
</head>
<body  style="height:87%; margin: 0;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: rgb(100, 141, 218);font-weight:bold;" asp-area="" asp-controller="Home" asp-action="nav"><img src="../image/Logo.jpg" width="50px" height="50px" style="margin-left: 10px;">  Insurance Management System </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="margin-left:85%">  
                            <a class="nav-link" style="font-size: large;font-weight:bold;color:rgb(100, 141, 218)" asp-area="" asp-controller="Home" asp-action="Login"><img src="../image/Login.jpg" width="50px" height="35px">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row" style="width:100%;height:100%; margin-top:-15px; margin-bottom=120%">
        <div class="sidebar-expanded d-none d-md-block col-2"  id="sticky-sidebar" style="background-color: rgb(27, 60, 123); text-align:center;">
            <ul class="list-group sticky-top sticky-offset">
                <li style="margin-top: 10%;" >
                    <a asp-action="nav" style="color:rgb(100, 141, 218) ; font-weight:Bold;" class="nav-link ">Home</a>
                </li>
                 <li style="margin-top: 10%;">
                    <a asp-action="Addemployees" style="color:rgb(100, 141, 218);font-weight:Bold;" class="nav-link ">Add Employee</a>
                </li>
                <li style="margin-top: 10%;">
                    <a asp-action="Employeedetails" style="color:rgb(100, 141, 218);font-weight:Bold;" class="nav-link ">Employee Details</a>
                </li>
                 <li style="margin-top: 10%;">
                    <a asp-action="SubscribedDetails" style="color:rgb(100, 141, 218);font-weight:Bold;" class="nav-link ">Subscribed policy Details</a>
                </li>
                 <li style="margin-top: 10%;">
                    <a asp-action="Claimaccept" style="color:rgb(100, 141, 218);font-weight:Bold;" class="nav-link ">Claim Acceptance</a>
                </li>
                </li>
            </ul>
        </div>
        <div class="col-4" >
            <main role="main" class="pb-3" >
                @RenderBody()
            </main>
        </div> 
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
