@{
  Layout="_EmployeeLayout";
}
<head>
  <style>
    .heading{
      text-align: center;
      font-weight:bold;
      color:rgb(27, 60, 123);
      margin-left: 65%;
      margin-right: -400px;
    }
      .para{
      text-align: justify;
      margin: 0 5em;
      font-size:18px;
      margin-right: -600px;
      margin-left: 10%;
    }
        .subheading{
      text-align: center;
      font-weight:bold;
      margin-left: 65%;
      margin-right: -400px;
    }
  </style>
  
</head>
   
<div class="div1">
  <img src="../image/Home.jpeg" style="width:1120px;margin-left:-12px"> 
</div>
<br>
<div>
  <h1 class="heading">About </h1>
  <p class="para">Our Health Insurance  is one of the most trusted standalone health insurance. We have curated affordable and comprehensive healthcare policies catering to the different needs of our employees. We aim to give every employee the confidence to access best healthcare by providing health insurance plans as per your needs. Our innovative and comprehensive health policies have made us one of the leading health insurance company.</p>
  <br>
  <br>
  <h2 class="heading">An insurance plan from Health Insurance is perfect to protect you, your family or your parents</h2>
</div>
<br>
<div style="margin-top: 5%;">
  <p class="para">Health insurance is an insurance product which covers medical and surgical expenses of an insured individual. It reimburses the expenses incurred due to illness or injury or pays the care provider of the insured individual directly.Every individual is different and has a unique set of needs. A single health insurance product is not enough to cover every person's individual requirements. This is precisely where there are a number of different types of health insurance plans available.</p>
</div>
