@{
    ViewData["Title"] = "Logout";
}

<div class="text-center" >

<body background="https://th.bing.com/th/id/R.cbff2e25712ed823081d019551eed394?rik=VpMZhjhyZ47S6w&riu=http%3a%2f%2fcapitalandmain.com%2fwp-content%2fuploads%2f2016%2f08%2finsurance.jpg&ehk=kfmXzNaNE6S9quyuCGUxkFFl7xD0OGvdfJvLF0ZI6I4%3d&risl=&pid=ImgRaw&r=0" style="background-size: cover;"></body>
    
    <h1 class="display-4" style="color:rgb(240, 240, 240)"><b><i>You are successfully logged out  </h1></b></i></a>
    
</div>
