@model SignUp
@{
    ViewData["Title"] = "Policy Details";
    Layout="_EmployeeLayout";
}

<body background="https://i.pinimg.com/736x/87/df/5c/87df5cfae6807d30f659ae8c479a9d48.jpg" style="background-size: cover" ></body>
<img src="https://www.maxlifeinsurance.com/static-page/assets/homepage/benefits_of_health_insurance_plans_c560bbd2ab.webp" width=1100 height=500>
<br>
<br>
<br>
<h1 style="text-align:center;width:800px;margin-left:40%"><i>Choose your Health Insurance policy </i></h1>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width:400px;height:450px;margin-left:50%">
      <div class="card-body">
        <h5 class="card-title">Individual Health Insurance</h5>
        <p class="card-text">An Individual Health Insurance is a policy which you may buy to cover you, your spouse, children and parents.
           This type of insurance policy covers your medical expenses for injury & illnesses related hospitalization, surgery costs, room rent, daycare procedures and more.
           Every member covered under the Individual Health Insurance plan will have an Individual Sum Insured.
           For example, if you take an Individual health policy of 3 lakhs sum insured covering your spouse, 2 kids and yourself, then each person covered will have an individual sum insured of Rs.3 lakhs. 
           Though it makes the premium comparatively higher.</p>
        <a href="/home/ApplyPolicy" class="btn btn-primary">Apply</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card"  style="width:400px;height:450px;margin-left:150%" >
      <div class="card-body">
        <h5 class="card-title">Family Floater Health Insurance</h5>
        <p class="card-text">If you want an affordable health insurance policy for all the members of your family then Family Floater Health Insurance should be your choice.
          Under a Family Floater Health Insurance, single Sum Insured floats for all the members covered under the policy. 
          A Family Floater Health Insurance Plan is beneficial because the premium is comparatively lower than the Individual Health Insurance policy.
           This policy can cover yourself, your spouse, children and parents.</p>
        <a href="/home/ApplyPolicy" class="btn btn-primary">Apply</a>
      </div>
    </div>
  </div>
</div>
<br>
<br><br>
<div class="row">
  <div class="col-sm-6">
    <div class="card"style="width:400px;height:450px;margin-left:50%" >
      <div class="card-body">
        <h5 class="card-title">Group Health Insurance</h5>
        <p class="card-text">A Group Health Insurance policy is designed for a group of employees working together.
           So if you own a start-up or a corporate house, you should buy such plans for your employees. It is a kind of benefit offered to the employees. As an employer, you can buy the cover to boost the rate of employee retention.
           Group Health Insurance Plan comes with a low cost premium. Some insurance companies allow to refill the sum insured, that too, unlimited times, if it is exhausted. 
           A Group Health Insurance Plan covers you for hospitalization due to accident, illness, critical illness, psychiatric illness, and maternity.</p>
        <a href="/home/ApplyPolicy" class="btn btn-primary">Apply</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width:400px;height:450px;margin-left:150%">
      <div class="card-body">
        <h5 class="card-title">Maternity Health Insurance</h5>
        <p class="card-text">A Maternity cover can be bought as a rider along with the basic health insurance plan. All the expenses incurred in the prenatal stage, delivery and post-natal stage are covered. 
          Newly married couples or families who are planning a baby in the coming years should buy this policy.
           It covers for child-delivery (including medically necessary terminations), infertility expenses and coverage for the newborn baby up to its first 90 days. 
           The Maternity Cover has a minimum waiting period of 2 years.</p>
        <a href="/home/ApplyPolicy" class="btn btn-primary">Apply</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

