@{
    Layout="_EmployeeLayout";
    ViewData["Title"] = "View PDF";
}

<h2>View PDF</h2>

@if (Model != null)
{
    <iframe src="@Url.Action("ViewPDF", "PDF", new { id = Model.Id })" style="width: 100%; height: 500px;"></iframe>
}
else
{
    <p>No PDF data found.</p>
}
